<fieldset>
  <legend>Edit Student Profile</legend>

  <!-- Name -->
  <div class="form-group">
    <p>
      <label for="student-name">Name</label><br>
      <input id="student-name" type="text" name="name" value="{{student.name}}"/>
    </p>
  </div>


  <!-- Bio -->
  <div class="form-group">
    <p>
      <label for="student-bio">Biography</label><br>
      <input id="student-bio" type="text" name="bio" value="{{student.bio}}"/>
    </p>
  </div>


  <!-- Goal -->
  <div class="form-group">
    <p>
      <label for="student-goal">Funding Goal</label><br>
      <input id="student-goal" type="number" name="goal" value="{{student.goal}}"/>
    </p>
  </div>


</fieldset>
